[user]
	name = vedant
	email = 41702642+vedntp@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.config/git/ignore
[include]
	path = ~/.config/git/config.local
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
